/* HEADER */
header {
  position: fixed;
  width: 100%;
  color: black;
  background-color: white;
  z-index: 999;
}
header .top{
  background-color: black;
}

header .container-fluid .sony-logo{
  width: 80px;
  height: 15px;
}

header .container-fluid .row .col ul li a{
  color: black;
  margin: 5px;
}

header .container-fluid .row .col ul li a i{
  font-size: 10px;
  color: gray;
}

header .container-fluid .row .col ul li a img{
  width: 15px;
  height: 15px;
  padding-left: 0;
}

header .container-fluid .row .col ul li a button{
  background-color: #363636;
  color: white;
  border-radius: 20px;
  padding: 7px 20px;
  border-style: none;
}

header .container-fluid .row .col .hamburger{
  border-radius: 5px;
  padding: 5px 10px;
}
/*/ HEADER */


/* JUMBOTRON */
.jumbotron{
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 82px;
}

.jumbotron .jumbo-image{
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  height: calc(100% - 82px);
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

.jumbotron .jumbo-image .container .row .col img{
  width: 60%;
}

.jumbotron .jumbo-image .container .row .col h2{
  margin: 25px 0;
}
.jumbotron .jumbo-image .container .row .col a button{
  background-color: #cd3d0f;
  color: white;
  border-radius: 20px;
  padding: 7px 25px;
  border-style: none;
  margin-top: 25px ;
}
/*/ JUMBOTRON */


/* ECCO */
.ecco{
  width: 100%;
}

.ecco .container .row .col img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
 
}

.ecco .container .row .col .limits{
  color: #0675cf;
  
}

.ecco .container .row .col h3{
  margin-bottom: 0;
}

.container .row .col rl-p{
  color: lightgray;
}

/*/  ECCO */

/* CONSOLE */
.console .container .row .rl-col{
  padding-top: 110px;
}

.console .container .row .col img{
  width: 100%;
  height: 100%;
}

.console .container .row .col a button{
  background-color: #2d64e6;
  color: white;
  border-radius: 20px;
  padding: 7px 25px;
  border-style: none;
  margin-top: 25px ;
}

.console .container .row .col p i{
  font-size: 10px;
}

.console .container .rl-row .col img{
  width: 100%;
  height: 80%;
  padding: 15px;
}

.console .container .rl-row .play-station5 {
  border-bottom: 3px solid #006ecd ;
}
/*/ CONSOLE */