.btn-orange{
  background-color: #cd3d0f;
  color: white;
  border-radius: 20px;
  padding: 7px 25px;
  border-style: none;
  margin-top: 25px ;
}

.btn-blue{
  background-color: #2d64e6;
  color: white;
  border-radius: 20px;
  padding: 7px 25px;
  border-style: none;
  margin-top: 25px ;
}

.fa-trademark{
  font-size: 10px;
}